<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="Stylo.CSS">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola de Inglês</title>
</head>
<body>
<div id="main">
    <div id="logo"><img id="img" src="img/Logo.png"></div>

   
    <div id="menu"><a href="https://www.youtube.com/"><img id="img" src="img/Menu.jpg"></a></div>
    <div id="material"><a href="https://trello.com/b/XwiHJJvj/faculdade-ead"><img id="img" src="img/Material.png"></a></div>
    
    <div id="bane"><img  src="img/Bane.png"  onmouseover="this.src='img/opa.png'" onmouseout="this.src='img/Bane.png'"></div>
    <div id="menus"> <a class="lkMenu" href="index.html">Menu</a>  <a target="_blank" class="lkMenu" href="Material.html">Material</a> </div>

   
</div>
</body>

</html>