p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: rgb(4, 0, 255);
}

body{
    background-color: rgb(235, 233, 240);
    
}
h1{
    color: rgb(245, 12, 12);
    font-size: 35px;
    text-align: center;
}

h2{
    color: rgb(240, 16, 16);
    text-align: center;
}
pre{
    font-size: 18px;
    text-align: center;
}