h1{
    color: rgb(238, 28, 28);
}

h2{
font-size: 30pt;
}
body{
    background-color: rgb(241, 248, 248);

}
p{
    text-align: justify;
    text-indent: 25px;
    font-size: 20pt;
}
nav#menu ul {
  list-style: none; 
 
}
